@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
}

.logo {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

@import "welcome.less";
@import "levels.less";
@import "ratings.less";
@import "users.less";