.user {
  &-image {
    display: inline-block;
    img {
      max-height: 2.2em;
    }
  }

  &-details {
    display: inline-block;
    vertical-align: top;
  }

  &-name {
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .user-name {
    font-size: 1em;
    line-height: 1.1;
  }

  .user-score {
    font-size: 0.9em;
    line-height: 1.1;
    margin: 0;
  }
}